################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/adventtwo/adventtwo/bin
/adventtwo/adventtwo/obj
/adventtwo/.vs
/adventtwo/packages
/adventtwo/tests/bin
/adventtwo/tests/obj
/adventtwo/boxes.txt
